<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SpringMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
	<!-- 中文支援 -->
	<filter>
		<filter-name>springUtf8Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
    
    <filter-mapping>
        <filter-name>springUtf8Encoding</filter-name>
        <url-pattern>/mvc/*</url-pattern>
    </filter-mapping>
	
	<!-- 部署 DispatcherServlet - XML 配置版 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 
  		受 spring mvc 管轄的路徑 
  		http://localhost:8080/SpringMVC/mvc/....
  		http://localhost:8080/SpringMVC/mvc/foo/bar/...
  		
  		不受 spring mvc 管轄
  		http://localhost:8080/SpringMVC/css/...
  		http://localhost:8080/SpringMVC/hello/...
  	-->
	
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/mvc/*</url-pattern>
	</servlet-mapping>
	
	<!-- HiddenHttpMethodFilter -->
	<filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <url-pattern>/mvc/*</url-pattern>
    </filter-mapping>  
  
</web-app>