.button-success, .button-add, .button-update, .button-reduce, .button-delete, .button-error, .button-warning, .button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success, .button-add {
	background: rgb(28, 184, 65);
	/* this is a green */
}

.button-reduce {
	background: rgb(240, 37, 166)
	/* this is a maroon */
}

.button-error, .button-delete {
	background: rgb(202, 60, 60);
	/* this is a maroon */
}

.button-warning, .button-cancel {
	background: rgb(223, 117, 20);
	/* this is an orange */
}

.button-secondary, .button-update {
	background: rgb(66, 184, 221);
	/* this is a light blue */
}

.hide {
    display: none;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 5px;
    border: 1px solid #ccc;
}